Import Required Packages and Data

In [1]:
#Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings

warnings.filterwarnings("ignore")

%matplotlib inline

Import the CSV Data as Pandas DataFrame

In [5]:

# Load the dataset from a local file
df = pd.read_excel("data.xlsx")

Show Top 5 Records

In [6]:
df.head()

,Customer_Segment,(All),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Department,(All),NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Total Profit,Column Labels,NaN,NaN,NaN,NaN,NaN
3,Region,Clothing,Electronics,Furniture,Healthcare,Software,Grand Total
4,South America,391346,255365,254313,935258,312705,2148987

Inspect Shape of the dataset

In [7]:
df.shape

(44, 7)

Check Datatypes in the dataset

In [8]:
# Check Null and Dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer_Segment  22 non-null     object
 1   (All)             36 non-null     object
 2   Unnamed: 2        39 non-null     object
 3   Unnamed: 3        7 non-null      object
 4   Unnamed: 4        7 non-null      object
 5   Unnamed: 5        7 non-null      object
 6   Unnamed: 6        7 non-null      object
dtypes: object(7)
memory usage: 2.5+ KB

Summary of the dataset

In [9]:
# Display summary statistics for a dataframe
df.describe()

,Customer_Segment,(All),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
count,22,36,39,7,7,7,7
unique,15,14,34,7,7,7,7
top,Region,Clothing,430504,Furniture,Healthcare,Software,Grand Total
freq,2,6,2,1,1,1,1

EXPLORING DATA

In [10]:
# define numerical & categorical columns
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']  # 'O' -->Object
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

# print columns
print('We have {} numerical features : {}'.format(len(numeric_features), numeric_features))
print('\nWe have {} categorical features : {}'.format(len(categorical_features), categorical_features))

We have 0 numerical features : []

We have 7 categorical features : ['Customer_Segment', '(All)', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']

proportion of count data on categorical columns

In [11]:
for col in categorical_features:
    print(df[col].value_counts(normalize=True) * 100)
    print('------')

Customer_Segment
Region                 9.090909
South America          9.090909
Asia-Pacific           9.090909
Europe                 9.090909
North America          9.090909
Africa                 9.090909
Grand Total            9.090909
Department             4.545455
Total Profit           4.545455
Payment_Method         4.545455
South America Total    4.545455
Asia-Pacific Total     4.545455
Europe Total           4.545455
North America Total    4.545455
Africa Total           4.545455
Name: proportion, dtype: float64
------
(All)
Clothing         16.666667
Electronics      13.888889
Furniture        13.888889
Healthcare       13.888889
Software         13.888889
(All)             5.555556
Column Labels     2.777778
391346            2.777778
434212            2.777778
623799            2.777778
405384            2.777778
1069720           2.777778
2924461           2.777778
Product_Line      2.777778
Name: proportion, dtype: float64
------
Unnamed: 2
430504          5.128205
395911          5.128205
724635          5.128205
1976228         5.128205
255365          5.128205
Electronics     2.564103
708873          2.564103
3319282         2.564103
405384          2.564103
323831          2.564103
1754161         2.564103
1113987         2.564103
3916884         2.564103
1069720         2.564103
1501348         2.564103
3472937         2.564103
1118265         2.564103
8751137         2.564103
560509          2.564103
2357239         2.564103
237715          2.564103
623799          2.564103
365211          2.564103
885268          2.564103
242044          2.564103
434212          2.564103
2148987         2.564103
312705          2.564103
935258          2.564103
254313          2.564103
391346          2.564103
Total Profit    2.564103
3782643         2.564103
20493529        2.564103
Name: proportion, dtype: float64
------
Unnamed: 3
Furniture    14.285714
254313       14.285714
242044       14.285714
237715       14.285714
323831       14.285714
1113987      14.285714
2171890      14.285714
Name: proportion, dtype: float64
------
Unnamed: 4
Healthcare    14.285714
935258        14.285714
885268        14.285714
1501348       14.285714
1754161       14.285714
3472937       14.285714
8548972       14.285714
Name: proportion, dtype: float64
------
Unnamed: 5
Software    14.285714
312705      14.285714
365211      14.285714
560509      14.285714
708873      14.285714
1118265     14.285714
3065563     14.285714
Name: proportion, dtype: float64
------
Unnamed: 6
Grand Total    14.285714
2148987        14.285714
2357239        14.285714
3319282        14.285714
3916884        14.285714
8751137        14.285714
20493529       14.285714
Name: proportion, dtype: float64
------